#main {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
  background-image: url("../img/earth-1149733_1920.jpg");   
  z-index: 100;  
}


canvas {
    height: 100vh;
  }

/* ---- particles.js container ---- */

#particles-js {
  position: fixed;
  height: 100vh;
  min-height: 350px;
}

.navbar-brand {
  font-family: 'Coda', cursive;
  color: #33CCFF !important;
}

